*.pyc
*~
galfit/
examples/small_image/
examples/full_image/
examples/postage_stamps
galfit/Makefile
galfit/cfitsio/group.c
galfit/galfit
galfit/getline.c
galfit/mrqmin.c
galfit/read_input.c
.ipynb_checkpoints/
back__init__.py
build
dist
pymorph.egg-info
pymorph/.ipynb_checkpoints/
pymorph_oldest_version
galfit/Makefile
galfit/cfitsio/group.c
galfit/galfit
galfit/getline.c
galfit/mrqmin.c
galfit/read_input.c
galfit/readme.aux
galfit/readme.dvi
galfit/readme.log
doc/galfit_2002.pdf
doc/galfit_2010.pdf
pymorph/mamaba_file
pymorph/pymorph.py.back
